
body {
    font-family: 'Gothic A1', sans-serif;
    background-color: var(--primary-color-light);
    color: var(--neutral-font);
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.4;
}

.hero .hero-text {
    color: var(--neutral-font);
    text-align: center;
}

.hero .hero-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

@media only screen and (max-width: 768px) {
    .hero .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero .hero-text h2 {
        font-size: 1rem;
    }

}

.contact-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 100px;
    max-width: 80%;
    margin: 40px auto;
    text-indent: 5px;
}

.contact-info {
    background-color: var(--secondary-dark-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1;
    max-width: 45%;
    color: var(--neutral-font);

}

.contact-info h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;   

}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-form {
    padding: 20px;

    flex: 1;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form fieldset {
    border: none;
    padding: 0;
}

.contact-form legend {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--neutral-font);
    margin-bottom: 10px;
}


.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    color: var(--neutral-font);
}

.form-group input,
.form-group textarea {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: var(--neutral-font);
    outline: none;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.cta-btn {
    background-color: var(--accent-color-1);
    color: var(--primary-color-dark);
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    align-self: flex-start;
}

.cta-btn:hover {
    background-color: var(--primary-color-light);
    color: var(--neutral-font);
}

@media only screen and (max-width: 768px) {
    .contact-section {
        flex-direction: column; 
        padding: 20px 15px; 
        max-width: 100%; 
    }

    .contact-info, .contact-form {
        max-width: 100%; 
        margin: 0 auto; 
    }
}

