
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.4;
}

.hero .hero-text {
    color: var(--neutral-font);
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}

.hero .hero-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.hero .hero-text h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: normal;
}

.page-description {
    background-color: var(--primary-color-light);
    padding: 40px 300px;
    text-align: center;
    color: var(--neutral-font);
    font-size: 1.2rem;
    line-height: 1.8;
}

.benefits-section {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 0px;
}

.benefits-section h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--neutral-font);
    margin-bottom: 30px;
}

.benefit-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 100px;
}

.benefit-item {
    background-color: var(--secondary-color); 
    padding: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.benefit-item h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--neutral-font);
    margin-bottom: 5px;
}

.benefit-item p {
    font-size: 1rem;
    color: var(--neutral-font);
}


.search-options-title {
    text-align: center;
    margin-bottom: 50px;
}

.search-options-title h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--neutral-font);
    margin-bottom: 15px;
}

.search-options-title p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--neutral-font);
    margin-bottom: 40px;
    padding: 0 200px;
}

.search-options-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: auto; 
    gap: 30px; 
    padding: 0px 200px;
    padding-bottom: 50px;
}

.search-option {
    background-color: var(--primary-color-dark);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    box-sizing: border-box; 
}

.search-options-grid .search-option:nth-last-child(-n+2) {
    grid-column: span 3; 
}

.search-option figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 0;
}

.search-option img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.search-option figcaption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--neutral-font);
    text-align: left;
}

.search-option p {
    font-size: 1rem;
    color: var(--neutral-font);
    margin-top: 10px;
    text-align: left;
}


.experience-section {
    max-width: 75%;
    margin: 0 auto; 
    padding: 50px 100px; 
}

.experience {
    display: grid;
    grid-template-columns: 150px auto; 
    align-items: start;
    background-color: var(--primary-color-dark); 
    color: var(--neutral-font); 
    border-radius: 10px; 
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}

.experience figure {
    margin: 0;
    padding-right: 20px;
}

.experience figure img {
    width: 150px; 
    height: 150px; 
    object-fit: cover;  
    border-radius: 10px; 
}

.text-content {
    padding: 0 20px;
}

.experience h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience p {
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 1.6;
}

.experience ul {
    padding-left: 0;
    list-style: none;
}

.experience ul li {
    margin-bottom: 5px;
    line-height: 1.8;
}

footer.experience-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-footer .rating {
    color: gold;
    font-size: 1.2rem;
}

.cta-btn {
    background-color: var(--accent-color-1);
    color: var(--primary-color-dark);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: var(--primary-color-dark); 
    color: var(--neutral-font);
}

blockquote {
    font-style: italic;
    color: var(--neutral-grey);
    margin-top: 20px;
    padding: 10px 20px;
    border-left: 4px solid var(--accent-color-1);
    background-color: var(--secondary-color);
    border-radius: 5px;
}